<section class="mp-contact-slide">
  <h1>Contact</h1>
  <ul class="mp-layout-grid-centered">
    <li class"mp-layout-grid-column-33">
      <div class="mp-logo-contact"></div>
    </li>
    <li class"mp-layout-grid-column-33">
      <ul class="mp-contact-list mp-list-with-icons">
    <% unless Middleman::Presentation.config.email_address.blank? -%>
        <li>
        <i class="mp-icon mp-icon-contact-mail"></i><a href="mailto:<%= Middleman::Presentation.config.email_address %>" class="mp-external-url"><%= Middleman::Presentation.config.email_address %></a>
        </li>
    <% end -%>
    <% unless Middleman::Presentation.config.phone_number.blank? -%>
        <li>
        <i class="mp-icon mp-icon-contact-phone"></i><%= Middleman::Presentation.config.phone_number %>
        </li>
    <% end -%>
    <% unless Middleman::Presentation.config.github_url.blank? -%>
        <li>
        <i class="mp-icon mp-icon-contact-github"></i><a href="<%= Middleman::Presentation.config.github_url %>" class="mp-external-url" target="_blank"><%= File.basename(URI.parse(Middleman::Presentation.config.github_url).path) %></a>
        </li>
    <% end -%>
      </ul>
    </li>
  </ul>
</section>
